headerbar {
  background: linear-gradient(to top, alpha(#dad6d2, .75), alpha(#e1dedb, .75));
  border-color: alpha(#bfb8b1, .75);
}

headerbar:backdrop {
  background: alpha(#f6f5f4, .75);
  border-color: alpha(#d5d0cc, .75); 
}
